/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
}

a {
  color: currentColor;
  text-decoration: inherit;
}

img {
  max-width: 100%;
}

body {
  background-color: #efefef;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1.5rem;
}

/* Main */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh
}

main {
  flex-grow: 1
}


/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.img-header {
  object-fit: contain;
  width: 100px;
  height: 100px;
}