.formPosition {
  display: flex;
  flex-direction: column;
  width: 300px;
  position: absolute;
  right: 12px;
  gap: 0.5rem;
  padding: 1rem;
  background-color: #0bac91;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.formPosition h5 {
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: #333;
}

.formFilter {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

}

.inputField {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.inputField:focus {
  border-color: #3ba190;
  outline: none;
}

.buttonFilter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitButton {
  padding: 10px 20px;
  background-color: #126143;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.submitButton:hover {
  background-color: #05926f;
}