.containerLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

}

.title {
  margin-top: 2rem;
  font-size: 24px;
  font-weight: bold;
}

.formLogin {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #ccc;
  width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #0bac91;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label input {
  height: 30px;
  padding: 8px;
  border: 1px solid #3ba190;
  border-radius: 4px;
}

.label input:focus {
  outline: none;
  border-color: #3ba190;
  box-shadow: 0 0 5px rgba(59, 161, 144, 0.5);
}

.buttonLogin {
  padding: 12px;
  background-color: #126143;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  max-width: 200px;
  margin: 0 auto;
  transition: background-color 0.3s;
}

.buttonLogin:hover {
  background-color: #05926f;
}